<p id='notice'><%= notice %></p>
<h1 class='text-center'>Movies</h1>
<div class='container alignment'>
  <div class='container-fluid'>

    <% @movies.in_groups_of(3, false).each do |movie_group| %>
      <div class='row'>
        <% movie_group.each do |movie| %>
          <div class='col-md-3' id='index-movie-alignment'>
            <%= link_to(image_tag(movie.attachments.first.image.url(:medium)), movie) %>
            <div id='movie-title-alignment'>
              <strong><%= title_titelize(movie.title) %></strong>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= link_to 'New Movie', new_movie_path, class: 'btn btn-info' %>

  </div>
</div>
