<% title 'MoviesSystem' %>
<% if (movies_present?(@top, @latest, @featured)) %>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h1 class='text-center'>No Movies To Show</h1>
        </div>
        <div class='panel-body'>
          <p>No movies to show till now. Click new movie in top right corner to add new movies. Dont forget to sign to add new movies</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'movies/movie', movies: @top, movie_filter: 'Top' if @top.present? %>
<%= render 'movies/movie', movies: @latest, movie_filter: 'Latest' if @latest.present? %>
<%= render 'movies/movie', movies: @featured, movie_filter: 'Featured' if @featured.present? %>
