<div id="review-<%= review.id %>">
  <%= review.comment %>
  <% if user_signed_in? %>
    <% if check_user(review) %>
      <%= link_to 'Edit', edit_movie_review_path(@movie, review) %>
      <%= link_to 'Destroy', [@movie, review],remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>
